[Unit]
Description=Game Server Watcher
After=network.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/game-server-watcher --port 8080 --address 0.0.0.0 --config-path /opt/game-server-watcher.yaml

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
