**/.terraform
**/.terragrunt-cache
backend/node_modules
backend/build
backend/.strapi
backend/.tmp
backend/.env
backend/.env.*
!backend/.env.example
async-server-provisioner/node_modules
async-server-provisioner/dist
async-server-provisioner/.env
async-server-provisioner/.env.*
async-server-provisioner/secrets.env
async-server-provisioner/.aws
async-server-provisioner/.ssh
infrastructure/terraform/**/*.tfstate
infrastructure/terraform/**/*.tfstate.*
