node_modules
dist
coverage
.nyc_output
.npm
.cache
.eslintcache
*.tsbuildinfo
*.log
.git
.idea
.DS_Store
.env
.env.*
secrets.env
**/.aws
**/.ssh
**/*.pem
**/*.key
**/.terraform
**/.terragrunt-cache
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
