{%- set memory = (ansible_memory_mb.real.total / 4 * 3) | int -%}
[Unit]
Description=Game Server
After=network.target

[Service]
WorkingDirectory=/root/game-server
StartLimitInterval=5
StartLimitBurst=10
StandardOutput=append:/var/log/game-server/app.log
StandardError=append:/var/log/game-server/error.log
ExecStart=java -server -Xmx{{ memory }}M -Xms{{ memory }}M -Dfml.queryResult=confirm -jar /root/game-server/forge-1.12.2-14.23.5.2847-universal.jar nogui

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
