[Unit]
Description=Orderly shutdown of game server
After=network-online.target
Requires=network-online.target

[Service]
User=root
RemainAfterExit=true
ExecStop=/usr/bin/ansible-playbook /root/ansible/shutdown-server.yml --extra-vars "@/root/ansible/vars/game-server.yaml"
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target