[Unit]
Description=Game Server
After=gs-shutdown.service
Requires=gs-shutdown.service network-online.target

[Service]
WorkingDirectory=/root/game-server
StartLimitInterval=5
StartLimitBurst=10
StandardOutput=append:/var/log/game-server/app.log
StandardError=append:/var/log/game-server/error.log
ExecStart=/root/startup.sh
TimeoutStopSec=300

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
