.navigationBar {
    flex-grow: 1;
}

.navigationBarTop {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.navigationBarTop > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.navigationBarContent {
    flex-grow: 1;
}

.navigationBarContent > ul {
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.navigationBarContent > ul > li {
    padding: 10px 10px 10px 30px;
}

.listHeading {
    padding: 10px;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}
