[Unit]
Description=Game Server Watcher
After=network-online.target
Requires=docker.service network-online.target

[Service]
User=root
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker rm -f gs-watcher
ExecStart=/usr/bin/docker run -i --name gs-watcher \
         --net host \
         -v /opt:/opt:ro \
        {{ watcher.docker_image }} \
        server \
        --port {{ watcher.port }}
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
