.detailsTable {
    padding: 10px;
}

.detailsTableRow {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailsTableColumnLeft {
    text-align: right;
    margin-right: 10px;
    width: 35%;
}

.detailsTableColumnRight {
    margin-left: 10px;
    width: 65%;
}
