.background {
    background-color: #0B0C10;
    color: #FFFFFF;
}

.surface {
    border: 1px solid #1F2833;
    background-color: #1F2833;
    color: #FFFFFF;
}

.surface01 {
    border: 1px solid #1F2833;
    background-color: #1F2833;
    color: #FFFFFF;
}

.surface02 {
    border: 1px solid #3d3d3d;
    background-color: #3d3d3d;
    color: #FFFFFF;
}

.primary {
    background-color: #66FCF1;
    color: #000000;
}

.primaryColor {
    color: #66FCF1;
}

.primaryBtn {
    background-color: #66FCF1;
    border: 2px solid #66FCF1;
    color: #000000;
}

.primaryBtn:active {
    border: 2px solid black;
}

.primaryHover:hover {
    border: 1px solid #45A29E;
}

.primaryFocus:focus {
    border: 1px solid #45A29E;
}

.secondary {
    background-color: #C5C6C7;
    color: #000000;
}

.error {
    background-color: #CF6679;
    color: black;
}
